<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>body{font-family:sans-serif}.container{margin:auto;padding:30px;max-width:768px}h1{font-size:x-large}h2{font-size:large}a{color:black;text-decoration:none}.post{padding-bottom:15px;border-bottom:dashed black}.center{display:block;margin:auto;text-align:center}</style>
</head>
<body>
<header class="center">
<h1><a href="https://biganeh.com/">بیگانه</a></h1>
</header>
<main class="container">{{ content }}</main>
</body>
</html>
