<!DOCTYPE html>
<html amp dir="rtl" lang="fa">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>بیگانه</title>
<meta name="description" content="بیگانه">
<meta name="robots" content="noindex">
<link rel="canonical" href="https://biganeh.com/">
<style amp-boilerplate>body{font-family:sans-serif;margin:auto;padding:30px;text-align:center}h1{font-size:x-large}h2{font-size:large;padding:20px;border-bottom:dashed black}a{color:blue;text-decoration:none}</style>
</head>
<body>
<header>
<h1><a href="https://biganeh.com/">بیگانه</a></h1>
</header>
<main>{{ content }}</main>
</body>
</html>
