<!DOCTYPE html>
<html ⚡ dir="rtl" lang="fa">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<style amp-custom>body{font-family:sans-serif;margin:auto;padding:30px;max-width:768px}header{padding-bottom:20px;padding-top:9px;font-size:x-large;font-weight:bold}h1,h2{font-size:large}a{color:black;text-decoration:none}.post{padding:20px;border-bottom:dashed black}.center{display:block;margin:auto;text-align:center}</style>
</head>
<body>
<header>
<a class="center" href="https://biganeh.com/">بیگانه</a>
</header>
<main>{{ content }}</main>
</body>
</html>
