---
layout: compress
---

<!DOCTYPE html>
<html amp dir="rtl" lang="fa">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>بیگانه</title>
<meta name="description" content="بیگانه">
<link rel="canonical" href="https://biganeh.com/">
<style amp-custom>body{font-family:sans-serif;margin:auto;max-width:65%;text-align:center}h1{font-size:x-large}a{color:blue;text-decoration:none;padding:10px}</style>
</head>
<body>
<header>
<h1>بیگانه</h1>
</header>
<article>
{{ content }}
</article>
</body>
</html>
