<!DOCTYPE html>
<html amp dir="rtl" lang="fa">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>بیگانه</title>
<meta name="description" content="بیگانه">
<link rel="canonical" href="https://biganeh.com/">
<style amp-custom>body{font-family:sans-serif;margin:auto;padding:30px;text-align:center}h1{font-size:x-large}h2{font-size:large;padding:5px;border-bottom:4px dashed gainsboro}a{color:blue;text-decoration:none;padding:10px}</style>
</head>
<body>
<header>
<h1>بیگانه</h1>
</header>
{{ content }}
</body>
</html>
