<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<style>body{font:100%/1.6 Tahoma}.container{margin:auto;padding:5px;max-width:768px}h1{font-size:x-large}h2{font-size:large}a{color:black;text-decoration:none}.post{padding-bottom:15px;border-bottom:solid lightgray}.center{display:block;margin:auto;text-align:center}</style>
</head>
<body>
<header class="center">
<h1><a href="https://www.biganeh.com/">بیگانه</a></h1>
</header>
<main class="container">{{ content }}</main>
<footer class="center">
<h2><a href="https://www.biganeh.com/">biganeh.com</a></h2>
</footer>
</body>
</html>
