<!doctype html>
<html dir="rtl" lang="fa">
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');body{font-family:Vazirmatn;margin:auto;padding:10px;max-width:768px}a{text-decoration:none}h1{color:red}hr{border:1px dashed #d4d4d4}</style>
<meta name="theme-color" content="red">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ page.title }}",
  "datePublished": "{{ page.date | date: "%Y-%m-%d" }}T08:00:00+08:00",
  "dateModified": "{{ page.date | date: "%Y-%m-%d" }}T09:20:00+08:00",
  "author": [{
      "@type": "Organization",
      "name": "DarkBlog",
      "url": "https://darkblog.github.io/"
    }]
}
</script>
</head>
<body>
<h1>{{ page.title }}</h1>
{{ content }}
{% for related_post in site.related_posts limit:10 %}<hr><a href="{{ site.url }}{{ related_post.url }}">{{ related_post.title }}</a>{% endfor %}<hr>
</body>
</html>
